@media screen and (min-width: 1200px) {
  .header_content {
    width: 75%; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header_content {
    width: 100%; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header_content {
    width: 100%; } }

@media screen and (min-width: 500px) and (max-width: 767px) {
  .header_content {
    width: 100%; } }

.header_content {
  height: 100px;
  margin: 0 auto; }
  .header_content nav > ul li .head {
    padding: 10px 0;
    display: inline-block;
    width: 100%; }
    .header_content nav > ul li .head:before {
      content: "";
      display: block;
      width: 50%;
      max-width: 200px;
      min-height: 40px;
      margin-top: 12px;
      z-index: -1;
      position: absolute; }
    .header_content nav > ul li .head:after {
      content: "";
      display: block;
      height: 2px;
      width: 0;
      margin-left: 4px;
      margin-top: 4px;
      background: #000;
      position: absolute;
      transition: 0.3s ease; }
    .header_content nav > ul li .head:hover:after {
      width: 20px; }
  .header_content nav > ul li .head a {
    text-decoration: none;
    font: 14px/20px "Avenir LT W01 85 Heavy", arial, sans-serif;
    text-transform: uppercase;
    color: #333;
    cursor: pointer; }
  .header_content .right_nav {
    box-sizing: content-box;
    margin-left: 2rem;
    float: left;
    clear: right;
    display: flex;
    align-self: flex-end;
    font: 14px/20px "Avenir LT W01 85 Heavy", arial, sans-serif; }

.header_search {
  cursor: pointer; }
  .header_search button .search {
    text-decoration: none;
    color: #333; }
  .header_search button:link {
    outline: none; }
  .header_search button a {
    outline: none; }
  .header_search .icon_search img {
    margin-top: -4px;
    width: 18px; }

.drop-menu {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 0;
  padding: 20px;
  opacity: 0;
  overflow: hidden;
  top: 100%;
  left: 0;
  z-index: 10;
  border-top: 1px solid #ccc;
  transform-origin: center top;
  transition: all .3s ease-in-out; }
  .drop-menu .drop {
    width: 75%;
    margin: auto; }
  .drop-menu ul {
    margin: 0;
    float: left;
    padding-right: 60px;
    padding-left: 0; }
    .drop-menu ul li {
      list-style: none;
      text-decoration: none;
      line-height: 35px;
      font-size: 14px;
      cursor: pointer; }

.feature {
  float: left; }
  .feature .content {
    position: relative;
    background-size: cover;
    display: block;
    text-decoration: none;
    margin-top: 40px;
    width: 300px;
    height: 200px;
    background-blend-mode: multiply;
    transition: background-color 0.4s ease; }
    .feature .content span {
      color: #fff;
      line-height: 200px;
      font-weight: 700;
      text-align: center;
      font-size: 30px;
      display: block;
      width: 300px; }
    .feature .contentfocus {
      border: 0; }

.hover {
  height: 320px;
  opacity: 1; }
