* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.left-drop {
  width: 15.18519vw;
  height: 14.81481vw;
  z-index: 1001;
  position: fixed; }
  .left-drop .menu {
    cursor: pointer;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5vw 0;
    display: flex;
    flex-flow: column;
    justify-content: space-around; }
    .left-drop .menu .menu-top, .left-drop .menu .menu-middle, .left-drop .menu .menu-bottom {
      display: block;
      width: 6vw;
      height: 1px;
      margin-left: 5vw;
      background-color: #fff;
      transition: all .5s linear; }

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  width: 100%;
  height: 14.81481vw;
  z-index: 999;
  box-sizing: border-box;
  position: fixed; }
  #header .left-header {
    width: 15.18519vw;
    height: 14.81481vw;
    z-index: 1001; }
  #header .logo {
    margin: auto; }
    #header .logo a svg {
      height: 5.2vw;
      display: inline-block;
      fill: #fff; }
  #header .right-header {
    padding: 0 4vw; }
    #header .right-header a svg {
      height: 6.7vw;
      display: inline-block;
      fill: #fff; }

#dropContent {
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  position: fixed;
  overflow: hidden;
  padding: 3vw 5vw;
  box-sizing: border-box; }
  #dropContent .search {
    height: 4vw;
    position: absolute;
    margin-left: 10px;
    margin-top: 2.5vw; }
  #dropContent .cart {
    height: 7vw;
    margin-left: 2vw; }
  #dropContent input {
    width: 65vw;
    height: 9vw;
    padding: 0 8vw;
    border-radius: 2%;
    outline: none;
    border: none;
    background-color: #f6f6f6;
    box-sizing: border-box;
    caret-color: #999;
    color: #999; }
    #dropContent input::placeholder {
      color: #d5d5d5; }
    #dropContent input:focus {
      padding: 0 4vw; }

#dropContent.hide {
  display: none; }

.close {
  width: 5vw;
  height: 14.81481vw;
  margin-right: 2vw; }
