$my_width: 75%;
$my_width2: 100%;
//ul li{margin: 0;padding: 0;}
@media screen and (min-width: 1200px) {
  .header_content {
    width: $my_width;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header_content {
    width: $my_width2;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header_content {
    width: $my_width2;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .header_content {
    width: $my_width2;
  }
}

//header_content
.header_content {
  height: 100px;
  margin: 0 auto;
  nav > ul li .head {
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    &:before {
      content: "";
      display: block;
      width: 50%;
      max-width: 200px;
      min-height: 40px;
      margin-top: 12px;
      z-index: -1;
      position: absolute;
    }
    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 0;
      margin-left: 4px;
      margin-top: 4px;
      background: #000;
      position: absolute;
      transition: 0.3s ease;
    }
    &:hover:after {
      width: 20px;
    }
  }
  nav > ul li .head {
    a {
      text-decoration: none;
      font: 14px/20px "Avenir LT W01 85 Heavy", arial, sans-serif;
      text-transform: uppercase;
      color: #333;
      cursor: pointer;
    }
  }
  .right_nav {
    box-sizing: content-box;
    margin-left: 2rem;
    float: left;
    clear: right;
    display: flex;
    align-self: flex-end;
    font: 14px/20px "Avenir LT W01 85 Heavy", arial, sans-serif;
  }
}

.header_search {
  cursor: pointer;
  button {
    .search {
      text-decoration: none;
      color: #333;
    }
    &:link {
      outline: none;
    }
    a {
      outline: none;
    }
  }

  .icon_search {
    img {
      margin-top: -4px;
      width: 18px;
    }
  }
}

.drop-menu {
  background: #fff;
  position: absolute;
  width: 1920px;
  height: 0;
  margin-left: -240px;
  //padding: 20px;
  opacity: 0;
  overflow: hidden;
  top: 100%;
  left: 0;
  z-index: 10;
  border-top: 1px solid #ccc;
  transform-origin: center top;
  transition: all .3s ease-in-out;
  .drop {
    width: $my_width;
    margin: auto;
  }
  ul {
    margin: 0;
    float: left;
    padding-right: 60px;
    padding-left: 0;
    li {
      list-style: none;
      text-decoration: none;
      line-height: 35px;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.feature {
  float: left;
  .content {
    position: relative;
    //background-image: url(../img/images/1.jpg);
    background-size: cover;
    display: block;
    text-decoration: none;
    margin-top: 40px;
    width: 300px;
    height: 200px;
    background-blend-mode: multiply;
    transition: background-color 0.4s ease;
    span {
      color: #fff;
      line-height: 200px;
      font-weight: 700;
      text-align: center;
      font-size: 30px;
      display: block;
      width: 300px;
    }
    &focus {
      border: 0;
    }
  }
}

.hover {
  height: 320px;
  opacity: 1;
}