$my_width:75%;
$my_width2:100%;
@media screen and (min-width: 1200px) {
  .main .top_title{width: $my_width;}
  .main .pro_firline{width:$my_width;padding-top: 3rem;}
  .hover_border .im_box{padding: 0 20px;}
  .main .pro_firline .w-80{width: 80%!important;}
  .main .pro_firline .im_box{height: 500px!important;width: 328px!important;}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .main .top_title{width: $my_width2;}
  .main .pro_firline{width:$my_width;padding-top: 3rem;}
  .hover_border .im_box{padding: 0 20px;}
  .main .pro_firline .im_box{height: 480px!important;width: 328px!important;}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .main .top_title{width: $my_width2;}
  .main .pro_firline{width:$my_width2;padding-top: 3rem;}
  .hover_border .im_box{padding: 0 20px;}
  .main .pro_firline .im_box{width: 328px!important;height: 480px!important;padding: 2px;}
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .main .top_title{width: $my_width2;}
  .main .pro_firline{width:$my_width2;margin: 0;padding:5px;font-size: 16px;}
  .main .pro_firline .w-80{width: 85%!important;}
  .main .b_text{font-size: 18px!important;font-weight: 400!important;}
  .main .pro_firline .im_box{width: 280px!important;height: 480px!important;padding: 0!important;}
  .ml-4, .mx-4{margin: 0!important;}
  .hover_border{border: 0px solid transparent!important;}
  .hover_border:hover{border: 0px solid #ccc!important;}
}
body{font-family: 'Avenir LT W01 85 Heavy', arial, sans-serif;}
//header
header{border-bottom: 1px solid #ccc;}
.my_header{height: 100px;box-sizing: border-box;}
//content_top
.content_top{height: 400px;max-height: 400px;background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.1));background:url("../img/men/banner.png") no-repeat top; background-size: cover;
  .left_text{
    width:$my_width;
    .top_t{padding:50px 0;.arrow{height:6px;margin-left: 6px;}}
    color: #fff;
    p{width: 450px;font-size: 15px;}
    a:first-child{font-size: 14px;color: #fff;text-decoration: underline;}
    .a2{padding: 9px 16px;background-color: #000;text-decoration: none;}
    .bottom_t{
      bottom: 20px;
      line-height: 15px;
      a{color:#fff;text-decoration: underline;font-size: 14px;}
      p{font-size: 15px;}
    }
  }
}

//main
.main{
  .w-90{width: 90%;}
  //top_title
  .top_title{padding-top:5px; }
  .left_1{
    padding: 3px 20px 0 0;
    .font_357{font-size: 20px;}
    .font_15{font-size: 15px;}
  }
  .filter_bar{
    width: 1px;
    height: 26.25px;
    background: #ccc;
    margin-top: 7px;
  }
  .left_2{
    font-size: 14px;
    padding: 10px 20px;
    .arrow_black{width: 12px;}
  }
  //product
  .pro_firline{
    min-width: 576px;
    flex-flow: wrap;
    .hover_border{border: 1px solid transparent;}
    .hover_border:hover{border: 1px solid #ccc;}
    //.w-md-33{width: 33.3333%;}
    .w-lg-20{width: 20%;}
    //line1:
    .im1{background: url("../img/men/pro_1.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im1:hover{background: url("../img/men/pro_1.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    .im2{background: url("../img/men/pro_2.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im2:hover{background: url("../img/men/pro_2.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    .im3{background: url("../img/men/pro_3.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im3:hover{background: url("../img/men/pro_3.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    .im4{background: url("../img/men/pro_4.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im4:hover{background: url("../img/men/pro_4.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    //line2:
    .im2_1{background: url("../img/men/pro2_1.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im2_1:hover{background: url("../img/men/pro2_1.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    .im2_2{background: url("../img/men/pro2_2.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im2_2:hover{background: url("../img/men/pro2_2.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    .im2_3{background: url("../img/men/pro2_3.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im2_3:hover{background: url("../img/men/pro2_3.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    .im2_4{background: url("../img/men/pro2_4.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im2_4:hover{background: url("../img/men/pro2_4.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    //line3:
    .im3_1{background: url("../img/men/pro3_1.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im3_1:hover{background: url("../img/men/pro3_1.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    .im3_2{background: url("../img/men/pro3_2.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im3_2:hover{background: url("../img/men/pro3_2.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    .im3_3{background: url("../img/men/pro3_3.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im3_3:hover{background: url("../img/men/pro3_3.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    .im3_4{background: url("../img/men/pro3_4.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im3_4:hover{background: url("../img/men/pro3_4.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    //line4:
    .im4_1{background: url("../img/men/pro4_1.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im4_1:hover{background: url("../img/men/pro4_1.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    .im4_2{background: url("../img/men/pro4_2.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im4_2:hover{background: url("../img/men/pro4_2.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    .im4_3{background: url("../img/men/pro4_3.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im4_3:hover{background: url("../img/men/pro4_3.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    .im4_4{background: url("../img/men/pro4_4.jpg") no-repeat center;background-size: 90%;height: 100%;}
    .im4_4:hover{background: url("../img/men/pro4_4.1.jpg") no-repeat center;background-size: cover;height: 95%;margin-bottom: 3rem;}
    .im_box{width: 288px;height: 430px;}
    .w-80{width: 80%;}
    .w-90{width: 90%;}
    }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 27.59px;
    width: 15px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  .carousel-control-prev-icon {
    background-image: url("../img/men/arrow_right.png");
  }
  .carousel-control-next-icon {
    background-image: url("../img/men/arrow_left.png");
  }
  .rmb_border{border-right: 1px solid #000;}
  .b_text{font-size: 15px;}
  .b_text .im_bg{width: 80px;height: 14px;background: url("../img/men/rating-0.gif") no-repeat;}
  .im{background: url("../img/men/rating-5.gif") no-repeat;width: 90.19999%;height: 14px;left: 0;}
//  2
}

//footer
.my_footer{height: 750px;box-sizing: border-box;}