$my_width:75%;
$my_width2:100%;
//header
header{height: 100px;}
.my_header{height: 100px;box-sizing: border-box;border-bottom: 1px solid #ccc}
//nav_bar
.nav_bar{
  width: $my_width;
  margin: auto;
  padding-top: 20px;
}
.breadcrumb {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #fff;
  border-radius: 0.25rem;
}
.breadcrumb-item:not(:last-child){
  text-decoration: underline;
}
.breadcrumb-item{ a{color: #000;}}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  font-size: 14px;
  margin-right: -5px;
}
//product
.product{
  position: relative;
  display: flex;
  flex-flow: row;
  //margin-top: 40px;
  margin:40px auto;
  width: $my_width;
  //product_left
  .product_left{
    position: relative;
    width: 50%;
    .im1{text-align: center;}
    .im1 img{height: 70vh;cursor: zoom-in;}
    .im2{position: absolute;text-align: center;bottom: 0;right: 0;p{font-size: 13px;}}
  }
  //product_right
  .product_right{
    .product-review-summary{
      .star{
        width: 80px;
        height: 14px;
        .star_0{
          background: url("../img/product/rating-0.gif") no-repeat;
          width: 100%;
          height: 100%;
        }
        .star_5{
          background: url("../img/product/rating-5.gif") no-repeat;
          width: 90%;
          height: 100%;
        }
      }

    }
  }
}