$my_width:75%;
$my_width2:100%;
body{text-transform: uppercase;}
@media (max-width: 992px) {
  .nav_bar{
    width: 100%;
    .breadcrumb{
      width: 50%;
      margin: auto;
      padding: 0;
      text-align: center;
      &:after{
        content: "";
        display: block;
        clear: both;
      }
      li:first-child{
        margin-right:0;
        padding-left:10vw;
      }
      li{
        float: left;
      }
      .display{
        display: none;
      }

    }

  }
  .product{width: 100%!important;}
  .product_left{display: none;}
  .product_right{width: 100%!important;padding: 0;margin: 0;.d-none{height: 70vh;display: block!important;margin: auto}}
  .text_top{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    max-width: 100%!important;
    position: relative;
    .description{
      max-width: 100%!important;
    }
  }
  .product__emotional{
    padding-top: 50px!important;
    padding: 0 1%;
    width: 100%!important;
    display: block!important;
    .product-mini-widgets{
      width: 100%!important;
      div{width: 100%!important;}
    }
    .product-conversion-videos{
      width: 100%!important;
      padding: 0 40px;
      img{width: 100%!important;position: relative!important;}
    }
  }
  .product__below-the-fold {
    width: 100%!important;
    .product__technical{
      width:95%!important;
    }
  }
  #parent{width: 95%!important;}
  .olapic_specific_widget{
    .im_box{width: 90%!important;}
    .arrow{
      .arrow_left{left: 0!important;}
      .arrow_right{right: 0!important;}
    }
  }
}
//@media (max-width: 900px) {
//  .product_right{width: 100%!important;}
//  .product_left{.im2{display: none!important;}}
//}
//header
header{height: 100px;}
.my_header{height: 100px;box-sizing: border-box;border-bottom: 1px solid #ccc}
//nav_bar
.nav_bar{
  width: $my_width;
  margin: auto;
  padding-top: 20px;
}
.breadcrumb {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #fff;
  border-radius: 0.25rem;
}
.breadcrumb-item:not(:last-child){
  text-decoration: underline;
}
.breadcrumb-item{ a{color: #000;}}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  font-size: 14px;
  margin-right: -5px;
}
//product
.product{
  position: relative;
  display: flex;
  flex-flow: row;
  //margin-top: 40px;
  margin:40px auto;
  width: $my_width;
  //product_left
  .product_left{
    position: relative;
    width: 50%;
    .im1{text-align: center;margin-left: 15%;position: relative;}
    .im1 img{cursor: zoom-in;width: 70%;}
    .im2{text-align: center;position: absolute;right: 0;bottom: 0;p{font-size: 13px;position: relative;bottom: 0}}
  }
  //product_right
  .product_right{
    text-align: center;
    .product-review-summary{
      width: 260px;
      position: relative;
      height: 22px;
      margin: auto;
      .star{
        left: 0;
        margin-right: -5px;
        bottom: 0;
        width: 80px;
        height: 14px;
        .star_0{
          background: url("../img/product/rating-0.gif") no-repeat;
          width: 100%;
          height: 100%;
        }
        .star_5{
          background: url("../img/product/rating-5.gif") no-repeat;
          width: 90%;
          height: 100%;
        }
      }
      .text{

      }
    }
    h1{font-size: 29px;text-transform: uppercase;}
    .description{max-width: 480px;min-width: 330px;margin: auto;margin-bottom: 20px;}
    //.rmb{font-size: 15px;font-weight: 700;}
    .rmb{font-size: 20px;font-weight: 700;}
    .s1{color:#8b0305;}
    .colour-thumbnails{
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      width: 100%;
      div{
        margin: 10px 1px;
        padding: 4px;
        border: 1px solid transparent;
      }
      div:hover{border: 1px solid #000;}
      .active{
        border: 1px solid #000;
      }
    }
    .size-thumbnails{
      margin-top: 10px;
      .size{
        font-size: 18px;
        width: 43px;
        height: 43px;
        line-height: 43px;
        border: 1px solid #ccc;
        box-sizing: content-box;
      }
    }
    .button{width: 45%;border:1px solid #000;margin: auto;padding: 15px 0;margin-top: 40px;cursor: pointer;}
  }
}
//product__emotional
.product__emotional{
  padding-top: 120px;
  width: $my_width;
  display: flex;
  flex-flow: row;
  .product-mini-widgets{
    width: 66%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    div{
      width: 50%;
      box-sizing: border-box;
      img{width: 50px;height: 50px;border: 1px solid #ccc;vertical-align: top;margin-right: 5px;margin-bottom: 40px;}
      div{width: 80%!important;display: inline-block;h2{font-size: 16px;font-weight: 700;margin-bottom: 4.8px!important;}p{font-size: 15px;}}
    }
  }
  .product-conversion-videos{
    width: 34%;
    position: relative;
    img{width: 60%;position: absolute;right: 0;}
  }
}
//product__below-the-fold
.product__below-the-fold{
  width: $my_width;
  margin: auto;
  margin-top: 120px;
  text-align: center;
  .product__technical{
    width:60%;
    margin-bottom: 70px;
    margin: auto;
    display: flex;
    flex-flow: column;
    h2{font-size: 22px;}
  }
  .product__key-features__item{
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    h3{font-size: 16px;display: inline-block;line-height: 50px;}
  }
}
//tab
#parent{
  margin-top: 50px!important;
  width: 50%;
  margin: auto;
  .card{
    border: 0;
    border-bottom: 1px solid #ccc;
    .card-header{
      padding: 0.75rem 1.25rem 0;
      span{font-size: 20px;}
      .float-right{
        display: block;
        font-size: 24px;

      }
    }
    .card-body{
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      .LayerWidget_ZH-3{
        display: block;
        margin: 0;
        width: 760px;
        height: 400px;
      }
      div{
        flex: 1 1 45%;
        margin-right: 5px;
        ul{padding: 0 17px;li{font-size: 15px;}}
        p{font-size: 17px;}
      }
    }
  }
}
//olapic_specific_widget
.olapic_specific_widget{
  position: relative;
  width: 100%;
  .arrow{
    width: 100%;
    span{position: absolute;top:50%;margin-top: -10px;}
    img{width: 15px;}
    .arrow_left{left: 10px;}
    .arrow_right{right: 10px;}
  }
  .im_box{
    width: 96%;
    margin: auto;
    overflow: hidden;
  }
  ul{
    padding: 0;
    width: 2500px;
  }
  ul li{
    width: 230px;
    height: 230px;
    float: left;
    margin-right: 10px;
    list-style: none;
    background-color: rgba(0,0,0,.3)!important;
    background-blend-mode: multiply;
    transition: all 700ms linear;
    &:hover{
      background-color: rgba(0,0,0,0)!important;
    }
  }
}