#head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    top:0;
    width: 100%;
    height: 14.81481vw;
    z-index: 999;
    box-sizing: border-box;
    position: fixed;
    background: #000;
    .left-head{
        width: 15.18519vw;
        height: 14.81481vw; 
        img{
            width: 6vw;
            margin-top: 4.4vw;
            margin-left:2vw;
        }
    }
    #dropdown{
        position:fixed;
        background-color: #fff;
        z-index: 999;
        padding: 1rem 3rem;
        right:20px;
        top:20vw;
        box-shadow: 0.5vw .5vw .8vw;
    }
    #dropdown a{
        color:#999;
        display: block;
        outline: 0;
        line-height: 3rem;
        text-decoration: none;
    }
    .logo{
        margin: auto;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        a svg{
          height: 5.2vw;
          display: inline-block;
          fill:#fff;
        }
     }
     .right-head{
        width: 15.18519vw;
        height: 14.81481vw; 
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        a img{
            height: 5.5vw;
            margin-top: 4.4vw;
            margin-left:4vw;
        }
     }
}